<div class="section">
    <div class="section-organisers">
        <div class="container">
            <h2 class="section__heading">Organisers</h2>
            <div class="container">
                <div class="block--half-spaced">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                            <div class="block--organiser row col-md-5 col-sm-6">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <a href=""><img class="organiser__img" src="" alt=""></a>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="organiser__name"><a href="http://www.twitter.com/moonty">Mr T</a></div>
                                    <div class="organiser__role">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                </div>
                            </div>
                            <div class="block--organiser row col-md-5 col-sm-6">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <a href=""><img class="organiser__img" src="" alt=""></a>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="organiser__name"><a href="http://www.twitter.com/ConollyEd">Joe Doe</a></div>
                                    <div class="organiser__role">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                            <div class="block--organiser row col-md-5 col-sm-6">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <a href=""><img class="organiser__img" src="" alt=""></a>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="organiser__name"><a href="">Ms Y</a></div>
                                    <div class="organiser__role">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                </div>
                            </div>
                            <div class="block--organiser row col-md-5 col-sm-6">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <a href=""><img class="organiser__img" src="" alt=""></a>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="organiser__name"><a href="http://www.whiteoctoberevents.co.uk">Mr Z</a></div>
                                    <div class="organiser__role">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>