/* Include a custom font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family: "Ubuntu";
}

.section {
  color: #494956;
  border: 1px solid #2196F3;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_title {
  color: #ef4457;
}

h1, .section {
  color: #ef4457;
}

.section::before {
  content: '';
  background-image: url('assets/img/title_bar.png');
}