.section {
  color: #494956;
  border: 1px solid #2196F3;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_title {
  color: #ef4457;
}

h1, .section {
  color: #ef4457;
}

.section::before {
  content: '';
  background-image: url('assets/img/title_bar.png');
}

.talk__tittle {
  font-size: 36px;
  font-weight: bold;
  color: #0583c9;
}
.talk__description{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
}