/* Include a custom font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family: "Ubuntu";
  padding-top: 111px; /* due to sticky top navigation */
}

.section {
  color: #494956;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

h1, .section {
  color: #ef4457;
}

.section::before {
  content: url('/assets/img/title_bar.png');
  position: relative;
  left: -24px;
  background-repeat: no-repeat;
  width: 70px;
  top: -8px;
}

.section::after {
  content: url('/assets/img/title_bar.png');
  background-repeat: no-repeat;
  position: relative;
  right: -24px;
  width: 70px;
  top: -8px;
}

myheader {
  color: #494956;
  xborder: 1px solid #2196F3;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.headline {
  font-size: 28px;
}

navbar {
  font-size: 18px;
  font-weight: normal;
  color: #ef4457;
  text-transform: uppercase;
}
.top {
  border-top: 5px solid #0583c9;  
}
.menu { 
  margin-top: 40px;
  margin-bottom: 10px;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #ef4457;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #ef4457;
}

a:visited {
  text-decoration: none;
  color: #ef4457;
}

a:hover {
  text-decoration: none;
  color: #ef4457;
}

a:active {
  text-decoration: none;
  color: #ef4457;
}


.navbar-custom {
    background-color:#fff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}