body {
  padding-top: 111px; /* due to sticky top navigation */
  overflow-x: hidden; /* due to a bootstrap issue */
}

.section {
  color: #494956;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

h1, .section {
  color: #ef4457;
}

.section::before {
  content: url('/assets/img/title_bar.png');
  position: relative;
  left: -24px;
  background-repeat: no-repeat;
  width: 70px;
  top: -8px;
}

.section::after {
  content: url('/assets/img/title_bar.png');
  background-repeat: no-repeat;
  position: relative;
  right: -24px;
  width: 70px;
  top: -8px;
}

myheader {
  color: #494956;
  xborder: 1px solid #2196F3;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.headline {
  font-size: 28px;
}

navbar {
  font-size: 18px;
  font-weight: normal;
  color: #ef4457;
  text-transform: uppercase;
}
.top {
  border-top: 5px solid #0583c9;  
}
.menu { 
  margin-top: 40px;
  margin-bottom: 10px;
}
.logo {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 147px;
  width: 187px;
}

a {
  color: #ef4457;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #ef4457;
}

a:visited {
  text-decoration: none;
  color: #ef4457;
}

a:hover {
  text-decoration: none;
  color: #ef4457;
}

a:active {
  text-decoration: none;
  color: #ef4457;
}


.navbar-custom {
  background-color:#fff;
  border-radius:0;
  height: 162px;
}
.navbar-custom-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #efefef;
  -moz-box-shadow: 0 8px 6px -6px #efefef;
  box-shadow: 0 8px 6px -6px #efefef;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:transparent;
}
.navbar-custom .navbar-brand {
  color:#eeeeee;
}

.grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.custom-nav-bar.navbar-toggle {
  background-color: #e2f9ff; /*Background color for holder*/
}
.custom-nav-bar.navbar-toggle .icon-bar {
  background-color: #7ad2f1; /*Background color for bar in the holder*/
}

.navbar-custom li>a:focus, .navbar-custom li>a:hover {
    text-decoration: none;
    background-color: #e2f9ff;
}


.conduct {
  font-size: 16px;
  color: #354e59;
  margin-bottom: 60px;
  margin-top: 24px;
}

.myfooter {
  padding: 100px;
  background-color: #ffc300;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

q {
  font-style: italic;
}

.page {
  margin-top: 60px;
  padding: 0px 15px 0px 15px;
}

img.room {
  max-width: 100%;
  height: auto; 
}

@media only screen and (max-width : 480px) {
  .carousel-caption h3 {
    font-size: 16px;
  }
}

.carousel {
  width: 50%;
  display: table;
  margin: 0 auto;
  margin-bottom: 15px;
}

.venue {
  width: 100%;
  padding: 15px;
}

.venue-schedule {
  padding-top: 15px;
}

.main-btn {
  position: relative;
  padding: 5px 40px 5px 40px;
  border: 5px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffc300;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 10px 10px 10px; /* spacing */
}

.main-btn:before {
  content: " ";
  position: absolute;
  z-index: 6;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 5px solid #ffc300;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.talk__container {
  margin-left: 50px;
}

.talk__tittle, .workshop__tittle {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #0583c9;
  width: 400px;
}
.talk__description, .workshop__description{
  font-size: 18px;
  width: 550px;
  margin-bottom: 50px;
}

/* bubbles */
.clickable {
  cursor: pointer;
}
.img-circle {
  border-radius: 50%;
  width: 196px;
}
.img-circle-lg {
  border-radius: 50%;
  width: 365px;
}

.circleBase {
  border-radius: 50%;
  width: 196px;
  height: 196px;
  position: relative;
  background: #f2f2f2; 
  margin-top: 50px;
}
.circleBase-lg {
  border-radius: 50%;
  width: 365px;
  height: 365px;
  position: relative;
  background: #f2f2f2; 
}

.bubble {
  z-index: 1;
  border-radius: 50%;
  border: 5px solid #3fa9f5;
  width: 29px;
  height: 29px;
  position: absolute;
  background: white;
}

.pos2 {
  bottom: 15%;
  right: -5px;  
}
.pos22 {
  bottom: -15%;
  right: -15px;
}

.pos1 {
  top: 15%;
  right: -5px;
}

.pos11 {
  top: -15%;
  right: -15px;
}

.pos3 {
  bottom: 10%;
}
.pos33 {
  bottom: -10%;
}

.pos4 {
  top: 15%;
  left: -5px;
}
.pos44 {
  top: -15%;
  left: -5px;
}

.big-bubble {
  z-index: 1;
  border-radius: 50%;
  border: 5px solid #3fa9f5;
  width: 81px;
  height: 81px;
  position: absolute;
  background: white;
}

.img14-bubble {
  background-image: url('/assets/img/14_small.png'); /* ball */
  background-repeat: no-repeat;
  background-position: 4px;
  width: 81px;
}

.img34-bubble {
  background-image: url('/assets/img/34_small.png'); /* camera */
  background-repeat: no-repeat;
  background-size: 58px;
  background-position-x: 7px;
  background-position-y: 15px;
  width: 81px;
}

.img24-bubble {
  background-image: url('/assets/img/24_small.png'); /* scuba googles */
    background-repeat: no-repeat;
    background-size: 55px;
    background-position-x: 10px;
    background-position-y: 12px;
    width: 81px;
}

.img39-bubble {
  background-image: url('/assets/img/39_small.png'); /* scuba googles */
  background-repeat: no-repeat;
  background-size: 55px;
  background-position-x: 8px;
  background-position-y: 12px;
  width: 81px;
}

.img11-bubble {
  background-image: url('/assets/img/11_small.png'); /* sun glasses */
  background-repeat: no-repeat;
  background-size: 69px;
  background-position-x: 1px;
  background-position-y: 27px;
  width: 81px;
}

.img5-bubble {
  background-image: url('/assets/img/5_small.png'); /* star */
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 6px;
  background-position-y: 5px;
  width: 81px;
}

.org-bubble {
  z-index: 1;
  background-size: 68px;
  background-position-x: 2px;
  background-position-y: 15px;
  height: 81px;
  background-image: url('/assets/img/40_small.png'); /* captain */
  background-repeat: no-repeat;
}

.profile {
  width: 100px;
}

.profile__title {
  font-size: 22px;
  font-weight: bold;
  color: #3fa9f5;
  text-align: center;
  margin-top: 30px;
}

.profile__twitter {
  margin-top: 10px;
  font-size: 12px;
}

.profile__description {
  font-size: 12px;
  color: #354e59;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media (max-width: 1055px) { 
  .profile__description { 
    margin-bottom: 25px;
  }
  .talk__container {
    display: table;
    margin: 0 auto;
  }
  .talk__tittle {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 349px;
    text-align: center;
  }
  .talk__description {
    margin-bottom: 50px;
    width: 349px;
    text-align: center;
  }
  .workshop__tittle {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 349px;
    text-align: center;
  }
  .workshop__description {
    margin-bottom: 50px;
    width: 349px;
    text-align: center;
  }
  .workshop__description ul {
    text-align: left;
  }
}

.tag__container {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  margin: 20px;
}
.tag__title {
  padding: 2px;
  border-radius: 21px;
  background-color: #eee; /* ffdb84 */
  margin-bottom: 5px;
  color: #4a4952;
}

.zoom { 
  -webkit-transition: all .2s ease-in-out; 
  -moz-transition: all .2s ease-in-out; 
  transition: all .2s ease-in-out; 
  z-index: -1;
}
.zoom:hover { 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: -1;
}

.logo-icon {
  margin-bottom: 4px;
}

.logo-img {
  z-index: -1;  
  position: absolute;
  left: 50%;
  top: 74px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.workshop__description .main-btn {
  margin-top: 25px;
  margin-left: 0px;
}

.panelists {
  margin-bottom: 50px;
}

.credits {
  margin-top: 50px;
}

.no-content {
  padding: 150px;
}

.workshop__title {
  font-size: 22px;
  font-weight: bold;
  color: #0583c9;
  text-align: center;
}
.workshop__body {
  color: #354e59;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px; 
  max-width: 400px;
  margin-top: 24px;
  text-align: center;
  _height: 170px;
}
.workshop__instructor{
  font-size: 12px;
  font-weight: bold;
  color: #3fa9f5;
  text-align: center;
}

.padb35 {
  padding: 0 0 35px;
  text-align: center;
  width: 370px;
}
.mtb24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

workshops-section .col-md-4 {
  margin-bottom: 30px;
}

.gap .profile {
  margin-top: -40px;
}