/*styles for home content only*/

.section {
  padding: 35px 0;
  position: relative;
  font-size: 36px;
}
@media only screen and (max-width : 480px) {
  .section {
    font-size: 32px;
  }
}


.section__heading {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.4;
  margin: 15px 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.organiser__img {
  border: 3px dotted #3F51B5;
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.section-footer {
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}

.to-bottom {
  position: relative; 
  height: 90px;
  margin-top: -15px;
}

.to-bottom img {
  position: absolute; 
  bottom: 0;
}

img.right {
  right: 0px;
  margin-right: 20px;
}

img.left {
  margin-left: 20px;
}

.section-footer__red {
  background-color: #ef4457;
  height: 20px;
  width: 100%;
  margin-top: 10px;
}

.section-footer__beach {
  background-color: #ffc300;
  height: 108px;
  width: 100%;
  margin-top: 10px;
}

.section-footer__beach_lg {
  float: none;
  margin: 0 auto;
  background-image: url('/assets/img/hole.png');
  background-repeat: no-repeat;
  background-color: #ffc300;
  background-position-x: 50%;
  margin-top: 15px;
  height: 135px;
  background-size: 302px 84px;
  transition: background 3s ease-in-out;
  -webkit-transition: background 3s ease-in-out;
}

@media (max-width: 768px) { 
  .section-footer__beach_lg {
    background-image: url('/assets/img/hole.png');
    transition: background 3s ease-in-out;
    -webkit-transition: background 3s ease-in-out;
    background-size: 302px 0px;
  }  
}

.section-footer__sea {
  background-color: #0583c9;
  height: 99px;
  width: 100%;
  margin-top: 10px;
}

.waves {
  content: ' ';
  background-image: url('/assets/img/waves-hr.png');
  background-repeat: no-repeat;
  float: none;
  margin: 0 auto;
  margin-bottom: -25px;
  height: 21px;

  animation: wave 10s ease-in-out infinite;
  -webkit-animation: wave 10s ease-in-out infinite;
  -webkit-transform: translate3d(0,0,0);
}

/* bubbles */
.img-circle {
  border-radius: 50%;
  width: 196px;
}
.img-circle-lg {
  border-radius: 50%;
  width: 365px;
}

.circleBase {
  border-radius: 50%;
  width: 196px;
  height: 196px;
  position: relative;
  background: #f2f2f2; 
}
.circleBase-lg {
  border-radius: 50%;
  width: 365px;
  height: 365px;
  position: relative;
  background: #f2f2f2; 
}

.bubble {
  border-radius: 50%;
  border: 5px solid #3fa9f5;
  width: 29px;
  height: 29px;
  position: absolute;
  background: white;
}

.pos2 {
  bottom: 15%;
  right: -5px;  
}
.pos22 {
  bottom: -15%;
  right: -15px;
}

.pos1 {
  top: 15%;
  right: -5px;
}

.pos11 {
  top: -15%;
  right: -15px;
}

.pos3 {
  bottom: 10%;
}
.pos33 {
  bottom: -10%;
}

.pos4 {
  top: 15%;
  left: -5px;
}
.pos44 {
  top: -15%;
  left: -5px;
}

.big-bubble {
  border-radius: 50%;
  border: 5px solid #3fa9f5;
  width: 81px;
  height: 81px;
  position: absolute;
  background: white;
}

.img14-bubble {
  background-image: url('/assets/img/14_small.png'); /* ball */
  background-repeat: no-repeat;
  background-position: 4px;
  width: 81px;
}

.img34-bubble {
  background-image: url('/assets/img/34_small.png'); /* camera */
  background-repeat: no-repeat;
  background-size: 58px;
  background-position-x: 7px;
  background-position-y: 15px;
  width: 81px;
}

.img24-bubble {
  background-image: url('/assets/img/24_small.png'); /* scuba googles */
    background-repeat: no-repeat;
    background-size: 55px;
    background-position-x: 10px;
    background-position-y: 12px;
    width: 81px;
}

.img39-bubble {
  background-image: url('/assets/img/39_small.png'); /* scuba googles */
  background-repeat: no-repeat;
  background-size: 55px;
  background-position-x: 8px;
  background-position-y: 12px;
  width: 81px;
}

.img11-bubble {
  background-image: url('/assets/img/11_small.png'); /* sun glasses */
  background-repeat: no-repeat;
  background-size: 69px;
  background-position-x: 1px;
  background-position-y: 27px;
  width: 81px;
}

.img5-bubble {
  background-image: url('/assets/img/5_small.png'); /* star */
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 6px;
  background-position-y: 5px;
  width: 81px;
}

.org-bubble {
  background-size: 68px;
  background-position-x: 2px;
  background-position-y: 15px;
  height: 81px;
  background-image: url('/assets/img/40_small.png');
  background-repeat: no-repeat;
}

.profile {
  width: 100px;
}

.profile__title {
  font-size: 22px;
  font-weight: bold;
  color: #3fa9f5;
  text-align: center;
  margin-top: 15px;
}

.profile__description {
  font-size: 12px;
  color: #354e59;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 100px;
}


.centerBlock {
  display: table;
  margin: 0 auto;
}

.headline__title {
  font-size: 36px;
  font-weight: bold;
  color: #0583c9;
  text-align: center;
}

.headline__body {
  font-size: 16px;
  color: #354e59;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.left > div {
  text-align: left;
}

.left > div {
  text-align: left;
}

.headline-section {
  margin-top: 95px;
}


@keyframes wave{
  0% {background-position: 50%;}
  50% {background-position: 55%;}
  100% {background-position: 50%;}
}
@-webkit-keyframes wave{
   0% {background-position: 50%;}
   50% {background-position: 55%;}
   100% {background-position: 50%;}
}


.music {
  animation: radio2 400ms ease-in-out infinite;
  -webkit-animation: radio2 400ms ease-in-out infinite;
  -webkit-transform: translate3d(0,0,0);
}

@keyframes radio1{
  0% {top: 5px;}
  50% {top: 0px;}
  100% {top: 5px;}
}
@-webkit-keyframes radio1{
  0% {top: 5px;}
  50% {top: 0px;}
  100% {top: 5px;}
}

@keyframes radio2{ /* 79px change scale */
  0% {width: 79px;}
  50% {width: 78px;}
  100% {width: 79px;}
}
@-webkit-keyframes radio2{
  0% {width: 79px;}
  50% {width: 78px;}
  100% {width: 79px;}
}

.welcome-container {
  height: 618px;
  padding-top: 110px;
  margin-top: 3px;
}
.welcome-title {
  font-size: 46px;
  font-weight: bold;
  color: #ef4457;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px;
}

.welcome-presented {
  font-size: 20px;
  font-weight: bold;
  color: #ef4457;
  text-align: center;
  text-transform: uppercase; 
}

.welcome-sub {
  font-size: 24px;
  color: #494956;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.8;
  padding-left: 10px;
  padding-right: 10px;
}

.welcome {
  background-image: url('/assets/img/NG-Cruise-Header-lg.png');
  background-repeat: no-repeat;
  background-size: 100% 618px;
  width: 100%;
  height: 618px;
  position: absolute;
  left: 0;
  top: 144px;
  z-index: -1;
}

@media only screen and (max-width : 992px) {
  .welcome {
    background-image: url('/assets/img/NG-Cruise-Header-med.png')
  }
}

@media only screen and (max-width : 768px) {
  .welcome {
    background-image: url('/assets/img/NG-Cruise-Header-BG-Repeat.png')
  }
  .welcome-sub {
    line-height: 1.5;
  }
}

.main-btn {
  position: relative;
  padding: 5px 40px 5px 40px;
  border: 5px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffc300;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 10px 10px 10px; /* spacing */
}

.main-btn:before {
  content: " ";
  position: absolute;
  z-index: 6;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 5px solid #ffc300;
}

.location {
  z-index: -2;
}
@media (max-width: 768px) { 
  .location {
    margin-top: 75px;
  }
}

.location__body {
  padding-left: 20px;
  padding-right: 20px; 
  max-width: 400px;
}

.logo-icon {
  margin-bottom: 4px;
}

