.section {
  padding: 35px 0;
  position: relative;
}

.section__heading {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.4;
  margin: 15px 0 30px;
  text-align: center;
  text-transform: uppercase;
}